body {
    flex-direction:column;
    display:flex; 
    margin: auto;
    padding: auto;
    width:100%;
    background-color: lightblue;
}
#legend {
    float:right;
    margin:0.5%;
    margin-bottom: 2%;
    width:25%;
    border-radius: 20px;
}
.paragraph {
    font-size:large;
    margin-left:10px;
    margin-right:10px;
}

#Company {
    float:left;
    margin:0.5%;
    margin-bottom: 2%;
    width:10%;
    border-radius: 20px;

}
#Math {
    float:right;
    margin:0.5%;
    margin-bottom: 2%;
    width:20%;
    border-radius: 20px;
}
#philanthropy {
    float:left;
    margin:0.5%;
    margin-bottom: 2%;
    width:30%;
    border-radius: 20px;
}
h2 {
  text-align: center;  
}

h1 {
    text-align: center;
    
}

article {
    border:2px solid rgb(35, 10, 134);
    border-radius: 10px;
    margin:2%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

li {
    display:inline-block;
    border:2px solid rgb(35, 10, 134);
    margin:2%;
    padding:0.75%;
    width:18%;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    text-align: center;
    
}
nav a{ 
    text-decoration: none;
}
nav {
    border:2px solid rgb(35, 10, 134);
    margin:2%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}








/*body {
    flex-direction:column;
    display:flex; 
    margin: auto;
    padding: auto;
    width:100%;
    background-color: lightblue;
}
.center {
    text-align:center;
    display:block;
}
#legend {
    float:right;
    margin-left: 10px;
    margin-right:10px;
    width:25%;
    border-radius: 20px;
}
.paragraph {
    font-size:large;
    margin-left:10px;
    margin-right:10px;
}

#Company {
    float:left;
    margin-left:10px;
    margin-right:10px;
    height:200px;
    border-radius: 20px;

}
#Math {
    float:right;
    margin-left:10px;
    margin-right:10px;
    width:20%;
    border-radius: 20px;
}
#philanthropy {
    float:left;
    margin-left:10px;
    margin-right:10px;
    width:30%;
    border-radius: 20px;
}
.main {
    border-bottom:5px black;
}
.hi {
    border: khaki;
}*/